@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background: #fff;
}

.my_logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  align-items: center;
}

.hamburger_icon {
  align-self: center;
}

.main_article {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-items: center;
  background-image: url("./img/header_shapes_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 375px;
  height: 604px;
}

.self_intro {
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.self_desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: justify;
}

.let_connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social_icons {
  flex-flow: row nowrap;
  justify-items: flex-start;
}

.socials {
  margin: 0;
  align-self: flex-start;
}
